{% extends "base_menu.html" %}

{% block content %}
<h1>Welcome to {{ settings.APP_NAME }}</h1>

{#{% if form.errors %}#}
{#  <p>Your username and password didn't match. Please try again.</p>#}
{#{% endif %}#}

    <a href="{% url 'ads:ad_detail' ad.id %}">Selling: Home Theater System with Surround Sound</a>
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" class="btn btn-primary" value="Login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}
