asgiref==3.7.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
contourpy==1.3.0
crispy==0.8.0
crispy-bootstrap5==0.7
cryptography==41.0.6
cycler==0.12.1
defusedxml==0.7.1
Django==4.2.7
django-crispy-forms==2.0
django-extensions==3.2.3
django-filter==23.2
django-social-auth==0.7.28
django-taggit==4.0.0
djangorestframework==3.14.0
fabio==2024.9.0
fonttools==4.54.1
greenlet==3.1.1
h5py==3.12.1
hdf5plugin==5.0.0
httplib2==0.22.0
idna==3.4
importlib-metadata==6.8.0
kiwisolver==1.4.7
lxml==5.3.0
Markdown==3.4.3
matplotlib==3.9.2
numpy==2.1.2
oauth2==1.9.0.post1
oauthlib==3.2.2
packaging==24.1
pillow==11.0.0
platformdirs==4.3.6
pycparser==2.21
PyJWT==2.7.0
pyparsing==3.2.0
PyQt6==6.7.1
PyQt6-Qt6==6.7.3
PyQt6_sip==13.8.0
python-dateutil==2.9.0.post0
python-openid==2.2.5
python3-openid==3.2.0
pytz==2023.3
requests==2.31.0
requests-oauthlib==1.3.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
scipy==1.14.1
silx==2.1.1
six==1.16.0
social-auth-app-django==5.2.0
social-auth-core==4.4.2
SQLAlchemy==2.0.36
sqlparse==0.4.4
typing_extensions==4.7.1
urllib3==2.0.7
xraydb==4.5.4
zipp==3.15.0
